.margin{width:1200px;margin;0 auto;}
html{position:relative;}
#main{margin-top:30px;position: relative;}
#main .product-l{float: left;padding-left: 85px;position: absolute;}
#main .product-l .case{width:450px;height:450px;position: absolute;left: 50px;top: 10px;}
#main .product-l .case img{width:450px;height:450px;}
#main .product-l .case span{position: absolute;left: 0;top: 0;width: 150px;height: 150px;background: rgba(200,200,200,0.6);display: none;}
#main .product-l .case p{position: absolute;left: 0;top: 0;right: 0;bottom: 0;margin: 0;}

#main .product-l .mirror{width:450px;height:450px;position: absolute;background:#000;overflow: hidden;top:0;left:535px;z-index: 10;display: none;}
#main .product-l .mirror img{width:1350px;height:1350px;position: absolute;}
#main .product-l ul{overflow: hidden;position: absolute;top:500px;width:300px;;}
#main .product-l ul li{border: 1px solid #d6d6d6;background-color: #fff;cursor: pointer;float: left;opacity: 0.8;
margin: 1px 10px 1px 1px;}
#main .product-l ul li:hover{border:2px solid #f60;}
#main .product-l ul li a{display: block;} 
#main .product-l ul li a img{display:block;width:60px;height:60px;}

#main .product-r{width: 510px;float: left;margin-left: 0;cursor: default;position: absolute;left:600px;top: 10px;}
#main .product-r h1{margin-top: 3px;margin-bottom: 10px;color: #333;font-size: 22px;font-weight: normal;line-height: 28px;overflow: hidden;word-wrap: break-word;word-break: break-all;max-height: 54px;}
#main .product-r h5{color: #f60;font-size: 12px;line-height: 18px;font-weight: normal;margin-top: -3px;margin-bottom: 8px;overflow: hidden;word-wrap: break-word;word-break: break-all;position: relative;}
#main .product-r .action{background: #f60;color: #fff;height:34px;}
#main .product-r .action .time{line-height: 34px;margin-left: 50px;}
#main .product-r .pricefloor{background-color: #f2f2f2;padding: 15px 20px;clear: both;overflow: hidden;}
#main .product-r .pricefloor .price_wrap{float: left;font-size: 0;}
#main .product-r .pricefloor .price_wrap .new{float:left;color: #f60;}
#main .product-r .pricefloor .price_wrap .new .money{font-size: 18px;}
#main .product-r .pricefloor .price_wrap .new .price{font-size: 32px;font-weight: 900;}
#main .product-r .pricefloor .price_wrap .old{float:left;font-weight: normal;color: #999;margin-left: 10px;font-size: 12px;margin-top: 20px;text-decoration: line-through;}
#main .product-r .pricefloor .specil{float:left;background-color: #ff6600;color:#fff;width:50px;margin-top: 20px;margin-left:10px;}
#main .product-r .onsale{padding: 20px 0 17px;border-bottom: 1px dashed #eee;position: relative;}
#main .product-r .onsale h3{line-height: 18px;float: left;width: 54px;font-size: 12px;color: #999;font-weight: normal;}
#main .product-r .onsale .onsale1{}
#main .product-r .onsale .onsale1 .icon_act{color: #fff;background-color: #f60;display: inline-block;font-size: 12px;line-height: 18px;width: 54px;text-align: center;float: left;}
#main .product-r .onsale .onsale1 .icon_text{display: inline-block;font-size: 12px;line-height: 18px;color:#333;margin-left: 10px;max-width: 386px;}
#main .product-r .onsale2{padding: 20px 0 17px;border-bottom: 1px dashed #eee;position: relative;}
#main .product-r .onsale2 h3{line-height: 18px;float: left;width: 54px;font-size: 12px;color: #999;font-weight: normal;}
#main .product-r .onsale2 .onsale3{}
#main .product-r .onsale2 .onsale3 .icon_act1{color: #fff;background-color: #f60;display: inline-block;font-size: 12px;line-height: 18px;width: 54px;text-align: center;float: left;}
#main .product-r .onsale2 .onsale3 .icon_text1{display: inline-block;font-size: 12px;line-height: 18px;color:#333;margin-left: 10px;max-width: 386px;background-color: #f60;}
#main .product-r .onsale2 .onsale3 .icon_text1 a{color:#fff;}
#main .product-r .sku{margin-top: 15px;}
#main .product-r .sku .skuColor{}
#main .product-r .sku .skuColor h3{line-height: 40px;float: left;width: 54px;font-size: 12px;color: #999;font-weight: normal;}
#main .product-r .sku .skuColor .skuList{overflow: hidden;}
#main .product-r .sku .skuColor .skuList .option{border: 2px solid #f60;display: block;float: left;background: #fff;margin-bottom: 15px;}
#main .product-r .sku .skuColor .skuList .option .colorimg{width:36px;height:36px;border: 0 none;vertical-align: top;}
#main .product-r .sku .skuColor .skuList .option .colorname{display: inline-block;font-size: 12px;line-height: 36px;
margin: 0 10px;}
#main .product-r .sku .skuNum{overflow: hidden;}
#main .product-r .sku .skuNum h3{float: left;width: 54px;font-size: 12px;line-height: 30px;color: #999;font-weight: normal;}
#main .product-r .sku .skuNum .num_wrap{width: 100px;float: left;margin-left: 0;cursor: default;}
#main .product-r .sku .skuNum .num_wrap .minus{float:left;width: 28px;height: 28px;line-height: 28px;border: 1px solid #d6d6d6;text-align: center;}
#main .product-r .sku .skuNum .num_wrap .num{display:block;float:left;width: 40px;height: 28px;line-height: 28px;border: 1px solid #d6d6d6;background: #fff;border-left: 0;border-right: 0;text-align: center;}
#main .product-r .sku .skuNum .num_wrap .plus{float: left;width: 28px;height: 28px;line-height: 28px;border: 1px solid #d6d6d6;text-align: center;}
#main .product-r .sku .skuNum p{float:left;line-height: 28px;margin-left: 10px;color: #999999;}
#main .product-r .foot{margin-top: 30px;}
#main .product-r .foot .car{background-color: #0092d8;margin-right: 10px;display: inline-block;font-size: 14px;height: 40px;line-height: 40px;width: 205px;text-align: center;color: #fff;padding: 0;cursor: pointer;}
#main .product-r .foot .buy{background-color: #f60;display: inline-block;font-size: 14px;height: 40px;line-height: 40px;width: 205px;text-align: center;color: #fff;padding: 0;cursor: pointer;}
