.margin{margin:0 auto;width:1200px;}
#title{text-align: center;}
#title h1{font:40px/50px "";margin-top:50px;color:#464646;}
#title span{display:block;font:10px/2 "";margin-top:9px;color:#a8a8a8;}
header{height:44px;background: #0092d8;}
header .logo{float:left;display:block;width:120px;height:44px;background:url(../img/logo.png);}
header ul{width:552px;float:left;}
header ul li{float:left;}
header ul li a{color:#a3c3e6;display:block;padding:0 30px;line-height:44px;}
header ul li a:hover{color:#fff;point:cursor;}
header .h-r{float: left;text-align: center;line-height: 43px;}
header .h-r .search{float:left;width:250px;height:44px;position: relative;margin-left: 180px;}
header .h-r .search img{position:absolute;right:1px;top:16px;}
header .h-r .search input{width:250px;height:44px;border:none;background:#fff;}
header .h-r .search .search-res{text-align: left;}
header .h-r .search .search-res li{position:relative;z-index: 9;line-height: 20px;background: #fff;}
header .h-r .mobile{float:left;display: block;width:65px;height:44px;}
header .h-r .mobile:hover{background:#006fa3}
header .h-r .car{float:left;width:65px;height:44px;}
header .h-r .car:hover{background:#006fa3}
header .h-r .login{float:left;width:100px;height:44px;}
header .h-r .login span{font:12px/44px "";color:#fff;}

#notice{height:24px;background: #003b66;text-align: center;}
#notice p{font:12px/2 "";color:#fff;}

#authen{height:40px;border-bottom: 1px solid #e6e6e6;}
#authen ul{display: flex;justify-content: space-around;margin-left:52px;}
#authen ul li{line-height: 40px;}
#authen ul li i{display:block;float:left;width:20px;height:15px;background:url(../img/t1.png);margin-top: 12px;}
#authen ul li .i2{background-position:0 -15px;}
#authen ul li .i3{background-position:0 -30px;}
#authen ul li .i4{background-position:0 -45px;}
#authen ul li .i5{background-position:0 -60px;}
#authen ul li span{margin-left:13px;display: block;float:left;font:12px/40px "";color:#666;}

#banner{width:1200px;height:480px;margin:0 auto;position: relative;overflow: hidden;}
#banner .imgbox a{position:absolute;left:1200px;top:0;} 
#banner .imgbox a:nth-child(1){left:0;}
#banner .imgbox img{width:1200px;height:480px;}
#banner .btns input{position:absolute;top:240px;width:40px;height:40px;border:none;background: rgba(220,220,220,.6);}
#left{left:220px;}
#right{right:0;}

.nav2{width:220px;height:480px;background: #A8A8A8;position: absolute;opacity: 0.8;z-index: 2;top:109px;left:74.5px;}
.nav2 .list{height:448px;padding:16px 0;line-height: 56px;position: relative;}
.nav2 .list .li1{height:56px;}
.nav2 .list .li1:hover{background:#333;}
.nav2 .list .li1 a{display:block;float:left;}
.nav2 .list .li1 a.name{padding-left:72px;color:#fff;}
.nav2 .list .li1 a.des{margin-left:10px;}
.nav2 .list .li1 i.hot{display:block;background: url(../img/hot.png) no-repeat;width:12px;height:12px;position: relative;left:52px;top:24px;}
.nav2 .list .li1 .list2{width:100px;height:480px;background:#fff;position: absolute;left:220px;top:0px;display: none;}
.nav2 .list .li1 .list2 .li2{margin-left: 20px;}
.nav2 .list .li1 .list2 .li2:hover{background: #fff;color:red;}
.nav2 .list .li1 .list2 .li2 .list3{width:100px;height:480px;background:#fff;position: absolute;left:100px;top:0;display: none;text-align: center;}
.nav2 .list .li1 .list2 .li2 .list3 li{color:black;}
.nav2 .list .li1 .list2 .li2 .list3 li:hover{background: #0092D8;color:#fff;}


#show ul{height:200px;border-bottom:1px solid #eee;}
#show ul li{height:200px;width:298px;border-right:1px solid #eee;border-left: 1px solid #eee;float: left;text-align: center;}
#show ul li a{height:200px;}
#show ul li a h3{font:18px/24px "";color:#000;font-weight: 700;margin-top:16px;}
#show ul li a span{display: block;font:12px/16px "";color:#ccc;margin-top:6px;}
#show ul li a img{margin-top:22px;}

#floor{border: 1px solid #e0e0e0;height: 680px;position: relative;overflow: hidden;}
#floor a:hover span{color:#f00;}
#floor .floor-l{float:left;width:599px;height:680px;border-right:1px solid #e0e0e0;text-align: center;}
#floor .floor-l a{display: block;width:500px;margin:35px auto 10px;}
#floor .floor-l a img{width:500px;height:590px;}
#floor .floor-l a .price{}
#floor .floor-r{float:right;width:600px;height:680px;}
#floor .floor-r .floor-r-t{width:600px;height:339px;border-bottom:1px solid #e0e0e0;text-align: center;}
#floor .floor-r .floor-r-t .product2{float:left;width:299px;height:340px;border-right:1px solid #e0e0e0;}
#floor .floor-r .floor-r-t .product2 a{display: block;width:200px;margin:35px auto 40px;}
#floor .floor-r .floor-r-t .product2 a img{width:200px;height:200px;}
#floor .floor-r .floor-r-t .product2 a .title{display: block;margin-bottom: 12px;}
#floor .floor-r .floor-r-t .product2 a .price{}
#floor .floor-r .floor-r-t .product3{float:right;width:300px;height:340px;}
#floor .floor-r .floor-r-t .product3 a{display: block;width:200px;margin:35px auto 40px;}
#floor .floor-r .floor-r-t .product3 a img{width:200px;height:200px;}
#floor .floor-r .floor-r-t .product3 a .title{display: block;margin-bottom: 12px;}
#floor .floor-r .floor-r-t .product3 a .price{}
#floor .floor-r .floor-r-b{width:600px;height:340px;text-align: center;}
#floor .floor-r .floor-r-b .product4{float:left;width:299px;height:340px;border-right:1px solid #e0e0e0;}
#floor .floor-r .floor-r-b .product4 a{display: block;width:200px;margin:35px auto 40px;}
#floor .floor-r .floor-r-b .product4 a img{width:200px;height:200px;}
#floor .floor-r .floor-r-b .product4 a .title{display: block;margin-bottom: 12px;}
#floor .floor-r .floor-r-b .product4 a .price{}
#floor .floor-r .floor-r-b .product5{float:right;width:300px;height:340px;}
#floor .floor-r .floor-r-b .product5 a{display: block;width:200px;margin:35px auto 40px;}
#floor .floor-r .floor-r-b .product5 a img{width:200px;height:200px;}
#floor .floor-r .floor-r-b .product5 a .title{display: block;margin-bottom: 12px;}
#floor .floor-r .floor-r-b .product5 a .price{}

#floor2{border: 1px solid #e0e0e0;height: 680px;position: relative;overflow: hidden;}
#floor2 a:hover span{color:#f00;}
#floor2 .floor-l{float:left;width:599px;height:680px;border-right:1px solid #e0e0e0;text-align: center;}
#floor2 .floor-l .floor-l-t{width:600px;height:339px;border-bottom:1px solid #e0e0e0;text-align: center;}
#floor2 .floor-l .floor-l-t .product6 a{display: block;width:500px;margin:28px auto;}
#floor2 .floor-l .floor-l-t .product6 a img{width:540px;height:280px;}
#floor2 .floor-l .floor-l-t .product6 a .price{}
#floor2 .floor-l .floor-l-b{width:600px;height:340px;text-align: center;}
#floor2 .floor-l .floor-l-b .product7{float:left;width:299px;height:340px;border-right:1px solid #e0e0e0;}
#floor2 .floor-l .floor-l-b .product7 a{display: block;width:200px;margin:35px auto 40px;}
#floor2 .floor-l .floor-l-b .product7 a img{width:200px;height:200px;}
#floor2 .floor-l .floor-l-b .product7 a .title{display: block;margin-bottom: 12px;}
#floor2 .floor-l .floor-l-b .product7 a .price{}
#floor2 .floor-l .floor-l-b .product8{float:right;width:300px;height:340px;}
#floor2 .floor-l .floor-l-b .product8 a{display: block;width:200px;margin:35px auto 40px;}
#floor2 .floor-l .floor-l-b .product8 a img{width:200px;height:200px;}
#floor2 .floor-l .floor-l-b .product8 a .title{display: block;margin-bottom: 12px;}
#floor2 .floor-l .floor-l-b .product8 a .price{}
#floor2 .floor-r{float:right;width:600px;height:680px;text-align: center;}
#floor2 .floor-r a{display: block;width:500px;margin:35px auto 10px;}
#floor2 .floor-r a img{width:500px;height:590px;}
#floor2 .floor-r a .price{}

#vip{}
#vip ul{width:1200px;height: 420px;border: 1px solid #e0e0e0;margin-bottom: 120px;}
#vip ul li{float: left;width: 299px;height: 420px;border-right: 1px solid #e0e0e0;}
#vip ul li.last{border-right:none;}
#vip ul li a{display: block;}
#vip ul li a img{display:block;width:200px;height:300px;display: block;margin: 30px auto 10px;}
#vip ul li .btn{display: block;width:120px;height:40px;border: 1px solid #e0e0e0;text-align: center;margin: 0 auto;}
#vip ul li .btn span{display: block;width:120px;height:40px;line-height: 40px;;}
#vip ul li .btn:hover span{background: #CCC;color:#fff;}

#footer{overflow: hidden;}
#footer ul{border-top: 1px solid #e0e0e0;height:42px;border-bottom: 1px solid #e0e0e0;}
#footer ul li{width:150px;float:left;height:42px;font:12px/42px "";}
#footer ul li a{display: block;}
#footer ul li:hover a{color:#f00;}
#footer p{height:12px;margin:15px 0;}
#footer p img{width:20px;height:20px;}
#footer p a:hover{color:#f00;}

.select{width: 80px;height: 204px;position: fixed;right: 20px; bottom: 40px;background: #A3C3E6;z-index: 9;}
.select li{height: 50px;line-height: 50px;text-align: center;font-size: 20px; color: #fff;cursor: pointer;border-top: 1px solid #b6b6b6;}
