#float{}
#float ul{overflow: hidden;}
#float ul li{float: left;width:282px ;background: #0092D8;margin: 5px 3px;padding: 4px 4px;}
#float ul li div{}
#float ul li div a{display: block;}
#float ul li div a img{width: 282px;height: 250px;}
#float ul li div a .over{height: 22px;margin: 5px 5% 0;padding-top: 5px;font-size: 14px;line-height: 1.2;color: #444;}
#float ul li div a .price{font-size: 24px;font-weight: bold;line-height:1.2;color: #e94a3e;}
#float ul li div a .you{padding: 1px 5px;font-size: 12px;line-height: 1.5;color: #e9903e;border: 1px solid #e9903e;}