#box{height:600px;width:1190px;margin: 0 auto;}
#box .box-l{float:left;}
#box .box-l img{width:485px;height:485px;margin-left: 150px;;}
#box .box-r{float: right;border: 2px solid #eee;width:378px;height:481px;margin-right: 100px;margin-top: 50px;}
#box .box-r h3{font-size:20px;margin-top: 20px;}
#box .box-r input{display: block;width:298px;height:38px;border: 1px solid #eee;margin: 10px auto;}
#box .box-r a.login{display:block;width:300px;height:40px;text-align: center;background: #0092D8;line-height: 40px;color: #fff;margin: 30px auto;}
#box .box-r a.register{margin-left: 40px;}
#box .box-r a.register:hover{color:#f00;}
#box .box-r a.forget{margin-left: 210px;}
#box .box-r a.forget:hover{color:#f00;}
#box .box-r .tips{margin-left: 40px;}


#footer{text-align: center;border-top: 1px solid #E0E0E0;}
